:root {
  --green: #4CAF50;
  --light-blue-lighten-5: #E1F5FE;
  --red-accent-4: #D50000;
  --red-lighten-5: #FFEBEE;
  --blue: #2196F3;
}

ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}

.alpha {
  padding: 5px;
  margin: 10px;
  color: #FBE9E7;
  background-color: #FF5722;
}

.title-link {
  text-decoration: none;
  color: inherit;
}

.title-link:hover {
  text-decoration: none;
  color: var(--red-lighten-5);
}


.btn {
  margin-top: 5px;
}

.examples-list {
  margin-top: 5px;
}

.example-item {
  display: inline-block;
  color: #1e90ff;
  padding: 5px 10px;
  margin-left: 2px;
  font-family: monospace;
  font-size: medium;
}

.example-item:hover {
  color: #f2f9f3;
  background-color: #1e90ff;
  cursor: pointer;
}

.description {
  font-family: monospace;
}

.error-description {
  color: #d60000;
  padding: 5px 10px;
  font-family: monospace;
}

.corrected-description {
  color: #00b6ad;
  padding: 5px 10px;
  font-family: monospace;
}

.normalized-description {
  color: #000399;
  padding: 5px 10px;
  font-family: monospace;
}

.ok-description {
  color: var(--green);
  padding: 5px 10px;
  display: inline;
  font-family: monospace;
}

.ok-description-link {
  text-decoration: none;
  margin-top: 2px;
  padding: 5px 10px;
  font-family: monospace;
  display: inline-block;
  color: var(--green);
  background-color: #ffffff;
}

.ok-description-link:hover {
  color: #ffffff;
  background-color: var(--green);
  cursor: pointer;
}

.ex-description-link {
  text-decoration: none;
  margin-top: 2px;
  padding: 5px 10px;
  font-family: monospace;
  display: inline-block;
  color: var(--blue);
  background-color: #ffffff;
}

.ex-description-link:hover {
  color: #ffffff;
  background-color: var(--blue);
  cursor: pointer;
}

.other-description-link {
  text-decoration: none;
  margin-top: 2px;
  padding: 5px 10px;
  font-family: monospace;
  display: inline-block;
  color: #1e90ff;
  background-color: #ffffff;
}

.other-description-link:hover {
  color: #ffffff;
  background-color:var(--blue);
  cursor: pointer;
}

.code {
  background-color: #ffffff;
  color: #b71c1c;
}

.v-text-field {
  font-family: monospace;
}

.normalized-description {
  color: #0b9b33;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.links {
  text-decoration: none;
  margin: 0;
  padding: 0 1px;
  font-family: monospace;
  display: inline-block;
  color: #00c853;
  background-color: #ffffff;
  padding: 5px 10px;
}

.links:hover {
  color: #f2f9f3;
  background-color: #00c853;
  cursor: pointer;
}

.protein-description {
  text-decoration: none;
  margin: 0;
  padding: 0 1px;
  font-family: monospace;
  display: inline-block;

  color: #004d40;
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.description-info {
  margin: 0;
  padding: 0 1px;
  color: #01579b;
  font-family: monospace;
  display: inline-block;
}

.description-info-hover {
  margin: 0;
  padding: 0 1px;
  color: #01579b;
  font-family: monospace;
  background-color: #81d4fa;
  display: inline-block;
}

.description-error {
  margin: 0;
  padding: 0 1px;
  color: #b71c1c;
  font-family: monospace;
  display: inline-block;
}

.description-error-hover {
  margin: 0;
  padding: 0 1px;
  color: #b71c1c;
  font-family: monospace;
  background-color: #ffcdd2;
  display: inline-block;
}

.pointer:hover {
  cursor: pointer;
}
